body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.page-header {
	text-align: center;
	margin-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar>.container-fluid {
	padding-right: 0px;
}

.navbar-default a, .navbar-default a:focus, navbar-default a:hover {
	font-size: small;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	font-size: small;
	background-image: none;
	background-color: #00CED1;
	color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-image: none;
	background-color: #1E90FF;
	color: white;
}

.thumbnail {
	border: 1px solid grey;
	height: 200px;
	color: white;
	text-align: center;
	background-color: darkblue;
	margin: 0px;
	padding: 0px;
	background-size: cover;
}

div.row>div {
	margin: 0px;
	padding: 0px;
}


.overpic {
	height: 100%;
}
div.overpic:before {
    content:'';
    height:100%;
    display:inline-block;
    vertical-align: middle;
}

.first-box {
	height: 400px;
}

.second-box {
	height: 400px;
}

#wc1 {
 background-image: url();
}