body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.page-header {
	text-align: center;
	margin-bottom: 0px;
    background-color: beige;
    margin-top: 0px;
}

h1 {
    margin-top: 0px;
    padding-top: 25px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar>.container-fluid {
	padding-right: 0px;
}

.navbar-default a, .navbar-default a:focus, navbar-default a:hover {
	font-size: small;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	font-size: small;
	background-image: none;
	background-color: #00CED1;
	color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-image: none;
	background-color: #1E90FF;
	color: white;
}

.thumbnail, .thumbnail:focus, .thumbnail:hover {
    height: 200px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 10px #2F4F4F;
}



.box {
/*	border: 1px solid grey;*/
	height: 200px;
	text-align: center;
	background-color: ;
	margin: 0px;
	padding: 0px;
	background-size: cover;
}


div.row>div {
	margin: 0px;
	padding: 0px;
}

/*Here's a hacky way to vertically center a div in its parent. */
.overpic {
	height: 100%;
    font-size: medium;
}
div.overpic:before {
    content:'';
    height:100%;
    display:inline-block;
    vertical-align: middle;
}

.infoblock {
    color:black;
    text-shadow: none;
}


.first-box, .first-box:focus, .first-box:hover {
	height: 400px;
}


#wc1 {
 background-image: url("VillaPics/villas-salobre-gran-canaria.jpg");
}

#wc2 {
    background-image: url(VillaPics/Versilia.jpg);
}

#wc4 {
    background-image: url(VillaPics/Villa-Rucellai-Toscani-2750-2-348x348.jpg);
}

#wc5 {
    background-image: url(VillaPics/Villa-Rucellai-Toscani-2812-2-348x348.jpg);
}

#wc6 {
    background-image: url(VillaPics/42-348x348.jpg)
}

#wc7 {
    background-image: url(VillaPics/3b-348x348.jpg)
}

#wc9 {
    background-image: url(VillaPics/42-348x348.jpg)
}

#wc10 {
    background-image: url(VillaPics/box_partners.png)
}
